*{
    margin: 0;
    padding: 0;
}


h1 {
    color: green; font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
}
h2 {
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
body {
    background-color: #1F2631;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
ol {
    color: gold;
    font-weight: bold;
    line-height: 40px;
}
.pul {
    background-color: burlywood;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
}
#header{
    background-image: url(Yuuka.jpg);
    background-position: 30px;
    padding: 60px;
}